*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(25, 184, 78);
    background-image: url('/image/mdk.jpg');
}

.top-first{
   
    
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  margin-top:-5em;
    padding:20em;
    width:20%;
    margin-left:15em;
}
#textBox1{
padding:2em;
margin-left:3em;
margin:10px 0px;
background-color: rgba(0, 255, 255, 0.315);
}
#filed1{
    margin-left:2em;
}
.first{
    margin-top:20px;
    margin-left:25px;
}
#yesMayBe{
    margin:10px 20px;
    
}
.first-line{
    flex-direction: row;
    margin-left:25px;
    
}
#bestColor{
margin-top:20px;
}
.span{
    font-size: 12px;
}
.first-div{
    margin-top:-10em;
}
#titleTag{
    text-align: center;
    margin-top:30px;
    color: whitesmoke;
}
.first-desk{
    margin-top:-10em;
}